@{
    ViewBag.Title = "Conway's Game of Life";
}

<div class="controls">
    <button type="button" id="start">Start</button>
    <button type="button" id="stop">Stop</button>
    <button type="button" id="reset">Reset</button>
</div>
<div id="gameContainer">
</div>
